@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#09203F, #537895);
}
a {
    text-decoration: none;
    color: aliceblue;
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-weight: 300;
}

a::after {
    content: '';
    display: block;
    bottom: 0;
    width: 0;
    left: 0;
    height: 1px; /*Adjust height for visibility*/
    background: aliceblue; /* Set a background color */
    transition: width .2s;
}

a:hover::after {
    width: 100%;
}

.Navbar{
    margin-top: 12px;

}
.Nav-ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    width: 100%;
    /* margin: 10px; */
}

